.speakers-grid {
    --column-count: 3;
    --row-count: 5;
    --column-size: 100px;
    --row-size: 50px;
    text-align: initial;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(var(--column-count), var(--column-size)) 60px [list-start] max-content [list-end];
    grid-template-rows: [list-start] auto repeat( var(--row-count), var(--row-size) ) auto [list-end];
    position: relative;
    ul {
        grid-area: list;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
        transition: 500ms;
    }

    a:is(:hover, :focus) {
        background-color: var(--clr-primary-300, peru);
        color: var(--clr-neutral-900, whitesmoke);
        img {
            scale: 2;
            width: 100px;
            height: 100px;
            max-width: 100vw;
            z-index: 2;
        }
    }

    a:not(:hover, :focus) img {
        animation: z-index-hack 500ms;
    }

}

@keyframes z-index-hack {
    0%, 100% {
        z-index: 1;
    }
}

/* 1st column */
.speakers-grid li:nth-child(3n + 1) img {
    grid-column: 1 / 2;
}

/* 2nd column */
.speakers-grid li:nth-child(3n + 2) img {
    grid-column: 2 / 3;
}

/* 3rd column */
.speakers-grid li:nth-child(3n + 3) img {
    grid-column: 3 / 4;
}

/* 1st row */
.speakers-grid li:nth-child(-n + 3) img {
    grid-row: 2 / 3;
}

/* second row */
.speakers-grid li:nth-child(n + 4):nth-child(-n + 6) img {
    grid-row: 3 / 4;
}

/* third row */
.speakers-grid li:nth-child(n + 7):nth-child(-n + 9) img {
    grid-row: 4 / 5;
}

/* 4th row */
.speakers-grid li:nth-child(n + 10):nth-child(-n + 12) img {
    grid-row: 5 / 6;
}

/* 5th row */
.speakers-grid li:nth-child(n + 13):nth-child(-n + 16) img {
    grid-row: 6 / 7;
}

.wrapper {
    width: min(100% - 4rem, 75ch);
    margin-inline: auto;
}

