@inherits LayoutComponentBase

@using BlazorCSSStuff.Components.ThemeProvider

<ThemeProvider>
<div class="layout">
    <div class="navigation">
        <a href="/">Home</a>
        <span>Components:</span>
        <ul>
            <li><a href="/ImageTitleGridTest">ImageTitleGrid</a></li>
            <li><a href="/ThemeProviderTest">ThemeProvider</a></li>
            <li><a href="/ProgressIndicatorTest">Progress Indicator</a></li>
            <li><a href="/Carousel">Carousel</a></li>
        </ul>
        <div class="nav_footer">
            <ThemeSwitcher/>
        </div>
    </div>
    <div class="content">
        @Body
    </div>
</div>
</ThemeProvider>
@code
{
}