@inherits LayoutComponentBase

@using BlazorCSSStuff.Components.ThemeProvider

<div class="layout">
    <div class="navigation">
        <a href="/">Home</a>
        <span>Components:</span>
        <ul>
            <li><a href="/ImageTitleGridTest">ImageTitleGrid Test Page</a></li>
            <li><a href="#">ThemeProvider Test Page</a></li>
            <li><a href="/ProgressIndicatorTest">Progress Indicator Test Page</a></li>
        </ul>
        <div class="nav_footer"><ThemeProvider></ThemeProvider></div>
    </div>
    <div class="content">
        @Body
    </div>

</div>